﻿@model mvc_employeemangement.Models.Employee

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="logindone" method="post">
    <div class="container mt-5 " >
        <div class="row justify-content-center">
            <div class="col-md-6"> <!-- Increase the card size here -->
                <div class="card mb-4" id="loginCard">
                    <div class="card-body text-center"> <!-- Center the content -->
                        <div class="mb-3">
                            <img src="~/images/supreme.png" width="50%">
                        </div>
                        <h3 class="card-title mb-3">Login</h3>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-id-badge"></i></span>
                            <label asp-for="UserName" class="control-label sr-only">UserName</label>
                            <input asp-for="UserName" class="form-control form-control-sm" placeholder="UserName" />
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
                            <label asp-for="Password" class="control-label sr-only">Password</label>
                            <input asp-for="Password" class="form-control form-control-sm" placeholder="Password" />
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
